<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <title>New message</title>
</head>

<body>
    <section class="formSec">
        <h1>Create a message</h1>
        <form method="POST" action="/new" class="form">
            <label for="name">AUTHOR</label>
            <input type="text" id="name" name="user" required>
            <label for="content">CONTENT</label>
            <input type="text" id="content" name="text" required> 
            <label for="date">Date</label>
            <input type="date" id="date" name="date" required>
            <label for="bgColor">Choose a background color:</label>
            <input type="color" id="bgColor" name="bgColor" value="#ff2356">
            <div class="btnGroup">
                <a href="/" type="button">Cancel</a>
                <button type="submit">Create</button>
            </div>

        </form>
    </section>
</body>

</html>