<!-- list.ejs -->

<li class="item" style="background-color: <%= message.bg_color %> ; --rotate: <%= Math.random().toFixed(2) %>;">
    <a href="/detail/<%= message.id %>" rel="noopener">
    <%= message.text %>
    </a>
</li>